In [9]:
prices = input()
if prices[4:]=='달러':
    print(int(prices[:4])*1112, '원')

100 달러
111200 원

In [11]:
exchange = {'달러': 1112, '위안': 171, '엔': 1010}

In [12]:
exchange.keys()

dict_keys(['달러', '위안', '엔'])

하단 딕셔너리 사용법 중요

In [17]:
for exchange_item in exchange.keys():
    if prices[4:] == exchange_item:
        print(int(prices[:4])*exchange[exchange_item],'원')

111200 원

In [4]:
for index in range(2,10):
    for index2 in range(1,10):
        if (index*index2)%2 == 0:
            print(index, 'X',  index2, '=', index*index2)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 2 = 6
3 X 4 = 12
3 X 6 = 18
3 X 8 = 24
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 2 = 10
5 X 4 = 20
5 X 6 = 30
5 X 8 = 40
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 2 = 14
7 X 4 = 28
7 X 6 = 42
7 X 8 = 56
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 2 = 18
9 X 4 = 36
9 X 6 = 54
9 X 8 = 72

In [6]:
data = ('a','b','c','d','e')
data[0], data[-1]

('a', 'e')

In [7]:
var1, var2 = 1,2

In [8]:
print(var1)

1

tuple 은 index 통해 값 수정 불가

In [9]:
data[0] = 'd'

TypeError: 'tuple' object does not support item assignment

In [11]:
data[1:]

('b', 'c', 'd', 'e')

In [13]:
data_li = list(data)
del data_li[0]
tuple(data_li)

('b', 'c', 'd', 'e')

In [14]:
data_li.append('f')
tuple(data_li)

('b', 'c', 'd', 'e', 'f')

In [16]:
data = {'a':1, 'b':2, 'c':3}
print(list(data.keys()))
print(data.values())

['a', 'b', 'c']
dict_values([1, 2, 3])

In [17]:
for item in data.keys():
    print(item, ':', data[item])

a : 1
b : 2
c : 3

In [18]:
data = {'a':[1,'x'], 'b':[2,'x'], 'c':[3,'o']}

하단 good

In [23]:
english = input()
if english in data.keys():
    data[english][1]='o'
    
for item in data.keys():
    if data[item][1]=='x':
        print(item)

d
a
b

딕셔너리에 데이터 추가

In [24]:
dict1= {'c': '회사', 'f':'얼굴'}
dict2 = {'a':'사과'}

for item in dict1.keys():
    data[item]=dict1[item]
    
for item in dict2.keys():
    data[item]=dict2[item]
    
data

{'a': '사과', 'b': [2, 'x'], 'c': '회사', 'f': '얼굴'}

In [33]:
num = {1,2,3} #세트
num.add(4) #하나의 데이터 추가
num.update([5,6])#여러개 데이터 추가 
num.remove(2) #특정 데이터 삭제
num

{1, 3, 4, 5, 6}

In [35]:
num_li1 = {1,2,3}
num_li2 = {3,4,5}
print(num_li1 & num_li2)
print(num_li1 - num_li2)
print(num_li1 | num_li2)

{3}
{1, 2}
{1, 2, 3, 4, 5}